.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .main-header{
    font-family: 'Montserrat', sans-serif;
  }
  .contenedor_logo_titulo img{
    height:20%;
    width:20%;
  }